body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  view {
    flex: 1 1 auto;

    overflow-y: auto;

    markets {
      display: flex;

      summary {
        flex: 1 1 auto;

        coin {
          display: block;
        }
      }

      market {
        flex: 2 1 auto;

        display: flex;
        flex-direction: column;

        height: 4em;

        data {
          display: flex;

          flex: 1 1 auto;

          buy, sell {
            flex: 1 1 auto;

            display: flex;

            justify-content: stretch;
            align-items: flex-end;

            price-bar {
              flex: 1 1 auto;

              display: block;
            }
          }

          buy {
            price-bar {
              background-color: #0f0;
            }
          }

          sell {
            price-bar {
              background-color: #f00;
            }
          }
        }
      }
    }
  }
}